---
name: SonarQube Scan
permissions:
  contents: read
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=vascoguita
            -Dsonar.projectKey=vascoguita_raspios-docker
